body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4)
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.nav a:hover {
  color: #aaaaaa;
  transition: 0.3s;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

p {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
}

img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
