body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background-color: #ababab;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #7bfdff;
  font-weight: 500;
}